* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    border: 0;
}

html {
    font-size: 62.5%;
}

$white: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$error: hsl(0, 100%, 66%);


@keyframes float-01 {
    0% {
        transform: translateY(20px) scale(1);
    }
    50% {
        transform: scale(1.05);
        transform: translateY(0) scale(1.05);
    }
    100% {
        transform: scale(1);
        transform: translateY(20px) scale(1);
    }
}
@keyframes float-02 {
    0% {
        transform: translateY(20px) scale(1);
    }
    50% {
        transform: translateY(0) scale(1.05);
    }
    100% {
        transform: translateY(20px) scale(1);
    }
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 1.8rem;
    display: flex;
    .card {
        pointer-events: none;
        width: 30%;
        background: url(../images/bg-main-desktop.png);
        .front, .back {
            width: 100%;
            max-width: 44.7rem;
            height: 24.5rem;
            padding: 3rem;
            position: absolute;
            box-shadow: 0px 1px 18px 4px rgba(0,0,0,0.71);
            border-radius: 11px;
            letter-spacing: 0.3rem;
            color: white;
        }
        .front {
            animation: float-01 8s ease-in-out infinite;
            background: url(../images/bg-card-front.png);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 18rem;
            left: 12rem;
            .card-info {
                .number {
                    font-size: 2.8rem;
                    padding-bottom: 3rem;
                }
                .name_date {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.3rem;
                    .name {
                        text-transform: uppercase;
                    }
                }
            }
        }
        .back {
            animation: float-02 5s ease-in-out infinite;
            background: url(../images/bg-card-back.png);
            top: 46rem;
            left: 21rem;
            position: relative;
            .cvc {
                position: absolute;
                right: 4rem;
                top: 45%;
                font-size: 1.3rem;
            }
        }
    }
    .content {
        width: 70%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        form {
            width: 100%;
            max-width: 35rem;
            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
                label {
                    color: $Very-dark-violet;
                    font-weight: 500;
                    font-size: 1.3rem;
                    letter-spacing: 0.1rem;
                    margin-bottom: 1rem;
                }
                input[type=text] {
                    width: 100%;
                    line-height: 4rem;
                    border: 1px solid $Light-grayish-violet;
                    border-radius: 11px;
                    padding-left: 1.5rem;
                    &::placeholder {
                        color: $Light-grayish-violet;
                        font-size: 1.8rem;
                    }
                    &.on-focus {
                        border: 1px solid $Very-dark-violet
                    }
                    &.error-state {
                        border: 1px solid $error;
                    }
                }
                span {
                    transition: all .3s;
                    opacity: 0;
                    color: $error;
                    text-transform: none;
                    font-size: small;
                    margin-top: 1rem;
                    transform: translateY(20px);
                    &.active {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                &.last {
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 4rem;
                    label {
                        display: block;
                    }
                    .exp-date {
                        width: 63%;
                        input[type=text] {
                            width: 42%;
                        }
                    }
                    .cvc2 {
                        width: 70%;
                    }
                }
            }
            input[type=submit] {
                width: 100%;
                background-color: $Very-dark-violet;
                color: $white;
                line-height: 5rem;
                font-size: 1.7rem;
                font-weight: 500;
                border-radius: 8px;
                border: none;
            }
            &.hidden {
                display: none;
            }
        }
        .modal {
            width: 70%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;
            .icon-complete {
                margin-bottom: 3rem;
            }
            h1 {
                color: $Very-dark-violet;
                font-size: 2.5rem;
                font-weight: 500;
                letter-spacing: 0.3rem;
                margin-bottom: 2rem;
            }
            p {
                color: $Dark-grayish-violet;
                font-size: 1.5rem;
                margin-bottom: 4.5rem;
            }
            button {
                width: 46%;
                background-color: $Very-dark-violet;
                color: $white;
                line-height: 5rem;
                font-size: 1.7rem;
                font-weight: 500;
                border-radius: 8px;
                border: none;
            }
            &.active {
                display: flex;
            }
        }
    }
    @media (max-width:600px) {
        flex-direction: column;
        .card {
            height: 28.5%;
            width: 100%;
            background: url(../images/bg-main-mobile.png);
            margin-bottom: 10rem;

            .front, .back {
                background-size: contain;
                background-repeat: no-repeat;
                max-width: 28.1rem;
                height: 15.4rem;
                padding: 2rem;
            }
            .front {
                animation: none;
                z-index: 2;
                top: 12.9rem;
                left: 2.2rem;
                .logo {
                    img {
                        width: 27%;
                    }
                }
                .card-info {
                    .number {
                        font-size: 1.6rem;
                        padding-bottom: 1.5rem;
                    }
                    .name_date {
                        font-size: 1rem;
                    }
                }
            }
            .back {
                animation: none;
                top: 4.1rem;
                left: 8.2rem;
                .cvc {
                    font-size: 1rem;
                }
            }
        }
        .content {
            width: 100%;
            form {
                width: 85%;
            }
        }
    }
    
}